<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    {% include 'includes/header_scripts.html' %}
    {% include 'includes/header.html' %}
    <title>{{ title }}</title>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>{{ title }}<span class="blinking">_</span></h1>
        </div>
    </div>
    <hr>
    <div class="container">
        {{ text }}
    </div>
</body>
{% include 'includes/footer.html' %}
{% include 'includes/footer_scripts.html' %}

</html>