{% include 'includes/begin.html' %}

<head>
    <title>Anthony</title>
    {% include 'includes/header_scripts.html' %}
</head>

<body>
    {% include 'includes/header.html' %}
    {% with title="Hello, I'm Anthony" %}
    {% include 'includes/title.html' %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <p>I'm studying Software Engineering at the University of Waterloo. Since you're here, you might be
                    interested in my <a href="/projects">projects</a> or <a href="/resume">résumé</a>. Before
                    university, I graduated from TOPS in 2023 after co-founding and leading our FIRST Robotics
                    Competition <a href="https://mgcirobotics.com">team</a> over 3 years.</p>
                <p>It's rewarding to work with new technology, especially in security and blockchain. You'll find me
                    making occasional contributions to <a href="https://github.com/slightlyskepticalpotat">open
                        source</a> because I want my code to impact others.</p>
                <p>Searching for fall 2025 internships! Previously, I've had the opportunity to intern at:</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://rubixdao.com">RubixDAO</a> (blockchain): May
                        2021—Aug 2021</li>
                    <li class="list-group-item"><a href="https://www.amazon.com">Amazon</a> (cloud compute): May
                        2024—Aug 2024</li>
                    <li class="list-group-item"><a href="https://ubineer.com">Ubineer</a> (finance):
                        Dec 2024—Jan 2025</li>
                    <li class="list-group-item"><a href="https://www.jackallabs.io">Jackal Labs</a> (blockchain):
                        Jan 2025—Apr 2025</li>
                </ul>
            </div>
            <div class="text-center col-sm-3 my-auto">
                <img src="/static/img/fox.webp" class="rounded img-profile" alt="Network error, image failed to load.">
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
    {% include 'includes/footer_scripts.html' %}
    {% include 'includes/copyright.html' %}
</body>

{% include 'includes/end.html' %}