<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=.1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{{ url_for("static", filename="img/favicon.ico") }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Roboto+Mono&family=Lato&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <title>Anthony Chen: Home</title>
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/">Anthony Chen</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link" href="/resume">Resume</a>
              <a class="nav-link" href="/projects">Projects</a>
              <a class="nav-link" href="/gallery">Gallery</a>
              <a class="nav-link" href="/links">Links</a>
            </div>
          </div>
        </div>
      </nav>
  </head>
  
    <div id="background">
    <body>
            <div class="container">
                <div class="page-header">
                    <h1 class="typing-demo">Hi, I'm Anthony—a Toronto high school student. </span></h1>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <p>You may be interested in my <a href="/resume">resume</a> or <a href="/projects">projects</a>. This site also hosts some of my <a href="/gallery">photography</a> and a collection of <a href="/links">links</a> relating to myself. My contact methods are listed in the footer.</p>
                        <p>I'll be graduating from TOPS @ <a href="https://en.wikipedia.org/wiki/Marc_Garneau_Collegiate_Institute">Marc Garneau CI</a> in June 2023. For now, I'm the President of <a href="/">MGCI Robotics</a> and the Captain of the FRC team <a href="https://www.thebluealliance.com/team/8574/2022">Audeamus 8574</a>—which I helped co-found. Finally, I teach for <a href="https://mgcimath.ca">MGCI Math</a> and manage the <a href="https://thereckoner.ca">school newspaper</a> and <a href="https://topsprogram.ca">TOPS</a> websites.</p>
                        <p>I love learning about and working with new technologies, especially those in cybersecurity, cryptography, and cryptocurrency. Someday, I'll make my code make a difference.</p>
                    </div>
                </div>
            </div>
    </body>

    <footer class="footer">
        <hr>
        <div class="container text-center">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="mailto:chenanthony365@gmail.com">
                        <i class="fa fa-envelope fa-3x px-3 icon"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="/pgp">
                        <i class="fas fa-key fa-3x px-3 icon"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/slightlyskepticalpotat">
                        <i class="fab fa-github fa-3x px-3 icon"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/anthony-chen-512719207/">
                        <i class="fab fa-linkedin fa-3x px-3 icon"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <p><small>Copyright Anthony Chen, 2019–2022. Built with Flask and Bootstrap.</small></p>
        </div>
    </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/all.min.css" integrity="sha256-xejo6yLi6vGtAjcMIsY8BHdKsLg7QynVlFMzdQgUuy8=" crossorigin="anonymous">
    <script src="{{ url_for("static", filename="js/vanilla-back-to-top.min.js") }}"></script>
    <script>addBackToTop({
        diameter: 64,
        backgroundColor: "slateblue",
        textColor: "#ffffff"
      })
    </script>
</html>
