{% include 'includes/begin.html' %}

<head>
    {% include 'includes/header_scripts.html' %}
    {% include 'includes/header.html' %}
    <title>Projects</title>
</head>

<body>
    {% with title="Projects" %}
    {% include 'includes/title.html' %}
    {% endwith %}
    <div class="container">
        <h2 class="mb-4">Featured ({{ featured|length }})</h2>
        {% for project in featured %}
        <div class="card mb-4 card-border">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src={{ project["img"] }} loading="lazy" class="card-img blog-card-img"
                        alt="Network error, image failed to load.">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href={{ project["url"] }}>
                            <i class="fas fa-external-link-alt fa-3x px-3 icon float-end"></i>
                        </a>
                        <h3 class="card-title">{{ project["name"] }}</h3>
                        <p class="card-text mb-0">
                            {% for tag in project["tags"] %}
                            <span class="badge badge-pill">{{ tag }}</span>
                            {% endfor %}
                        </p>
                        <p class="card-text">{{ project["info"] }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
        <h2 class="mb-4">All ({{ all|length }})</h2>
        {% for i in range(0, all|length, 3) %}
        <div class="row">
            {% for j in range(i, i + 3) %}
            {% if j < all|length %} <div class="col-sm-4 mb-4">
                <div class="card card-border">
                    <img class="card-img-top card-image" data-bs-toggle="modal" data-bs-target="#modal{{  j  }}"
                        loading="lazy" src={{ all[j]["img"] }} alt="Network error, image failed to load.">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 class="card-title" data-bs-toggle="modal" data-bs-target="#modal{{  j  }}">{{
                                all[j]["name"] }}</h4>
                            {% for tag in all[j]["tags"] %}
                            <span class="badge badge-pill">{{ tag }}</span>
                            {% endfor %}
                        </div>
                        <div class="pt-2 d-flex justify-content-around">
                            <i class="fas fa-info fa-2x px-2 icon" data-bs-toggle="modal"
                                data-bs-target="#modal{{  j  }}"></i>
                            <a href={{ all[j]["url"] }}>
                                <i class="fas fa-external-link-alt fa-2x px-2 icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="modal fade" id="modal{{  j  }}" tabindex="-1" aria-labelledby="#modal{{  j  }}Label"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="modal{{  j  }}Label">{{ all[j]["name"] }}</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center">
                                        {% for tag in all[j]["tags"] %}
                                        <span class="badge badge-pill">{{ tag }}</span>
                                        {% endfor %}
                                    </div>
                                    <img class="card-img-top card-image mt-2 mb-2" loading="lazy" src={{ all[j]["img"]
                                        }} alt="Network error, image failed to load.">
                                    <p>{{ all[j]["info"] }}</p>
                                    <div class="text-center mt-2">
                                        <a href={{ all[j]["url"] }}>
                                            <i class="fas fa-external-link-alt fa-3x px-3 icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    </div>
</body>
{% include 'includes/footer.html' %}
{% include 'includes/footer_scripts.html' %}

</html>