/* styles the navbar */
.navbar {
    background-color: slateblue;
    border-bottom: 0.15rem solid #000000;
    height: 75px;
}

.nav-link, 
.navbar-brand {
    color: #ffffff!important;
    font-size: 1.5em!important;
}

.nav-link {
    padding-left: 1.5em!important;
    padding-right: 1.5em!important;
    height: calc(75px - 0.15rem)!important;
    align-items: center!important;
    display: flex!important;
}

.navbar-brand {
    padding: 1rem;
    border: 0.2rem solid #ffffff;
}

.nav-link:hover,
.navbar-brand:hover,
.active {
    background-color: royalblue;
}

.navbar-brand:hover {
    transform: scale(1.2);
}

/* styles all of the text */
* {
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: "Roboto Mono", sans-serif!important;
}

small {
    font-size: 0.75em!important;
}

.nav-link,
.navbar-brand,
small
{
    font-family: "Ubuntu", monospace;
}

p {
    font-size: 1.5em;
}

/* styles header of page */
.page-header {
    padding-top: 2em;
    padding-bottom: 1em;
}

/* blinking class for underscores */
.blinking {
    animation: 1s underscoreblink step-end infinite;
}

@keyframes underscoreblink {
    50% {
        opacity: 0;
    }
}

.typing-demo {
    width: 23ch;
    animation: typing 2.5s steps(23), blink 1s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1em solid;
}
  
@keyframes typing {
    from {
        width: 0
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent
    }
}

/* format icons */
.icon {
    color: slateblue;
}

.icon:hover {
    color: royalblue;
}

/* style the footer */
.footer,
.resume-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 150px;
}
  
/* style resume page */
.resume {
    overflow: hidden;
    height: calc(100vh - 75px - 134px);
    width: 100vw;
}

/* style project page */
.blog-card-img {
    max-height: 192px;
    object-fit: cover;
    border: 0.2rem solid slateblue;
}

.blog-card-img:hover {
    max-height: unset;
}

.badge-pill {
    background-color: slateblue!important;
    font-family: "Ubuntu", monospace;
    font-size: 0.75em!important;
}

.alert-light {
    border: 0.2rem solid slateblue!important;
}

.card-image {
    height: 256px;
    object-fit: contain;
}

.card-border {
    border-width: 0.2rem!important;
}

.card-border:hover {
    border-color: slateblue!important;
}

/* style back to top icon */
#back-to-top:hover {
    background-color: royalblue;
}

.btn-close-white { 
    position: absolute; 
    right: 1rem;
}

.img-profile {
    max-height: 75%!important;
    max-width: 100%;
}

/* make accessibility text invisible */
.invis-text {
    display: none;
}
